* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid__item {
  position: relative;
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #000;
  border: 2px solid;
}

.pos-1 {
  grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
  grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
  grid-area: 1 / 36 / 14 / 42;
}
